# Arquivos compilados e pacotes
target/
*.class
*.jar
*.war
*.ear
*.nar

# Variáveis de Ambiente e Credenciais Locais
.env
application-dev.properties

# Diretórios do Eclipse / VS Code / IntelliJ 
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.vscode/
.idea/
*.iml
*.iws
*.ipr

# Logs e Arquivos Temporários
*.log
hs_err_pid*

# Arquivos do Maven Wrapper 
.mvn/wrapper/maven-wrapper.jar

# Sistema Operacional
.DS_Store
Thumbs.db